.atas{
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #3378DF;
}
.infimech{
    padding: 2rem;
}
.text-biru{
    color: #3378DF;
}
.btn{
    background-color: #60B6E7;
    color: #ffff
}
.vision{
    padding: 2rem;
    background-color: #3378DF
}
.card-tumpul{
    border-radius: 2rem;
}