.atas{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.output{
    padding: 2rem;
    background-color: #3378DF;
}
.text-biru{
    color: #3378DF;
}
.card-abu{
    background-color: #D9D9D9;
}
.card-tumpul{
    border-radius: 2rem;
}
.bg-biru{
    background-color: #3378DF;
}
.btn-biru{
    background-color: #60B6E7;
    color: #ffff
}