.footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #3378DF;
}
.alamat{
    background-color: #3378DF;  
}

.cardfooter{
    border-radius: 1rem;
}